@import '/src/UI/styles_extension/colors';
@import '/src/UI/styles_extension/variables';

.message-form {
    background-color: $color_minor_background;
    border-radius: 15px;
    width: calc(100% - 10px);
    min-width: 400px;
    padding: 15px 0;

    @include mobile() {
        position: fixed;
        bottom: 0;
        width: 100vw;
        min-width: auto;
        border-radius: 0px;
    }

    form {

        .message-form-toolkit {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            height: 100px;

            .message-textarea {
                flex-grow: 2;
                padding-right: 30px;
                height: 100%;
                
                textarea {
                    min-width: auto;
                    width: 100%;
                    height: calc(100% - 20px);
                    margin: 0;
                    padding: 5px 10px;
                    font-size: 12pt;
                }
                
            }
        
            .submit-btn {
                background-color: $color_minor_background;
                border: none;
            }
        }
    }
}