@import '/src/UI/styles_extension/colors';
@import '/src/UI/styles_extension/variables';

.message-dialogue-empty {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    margin: 15px 5px;
    min-width: 400px;
    max-width: 800px;
    width: 40vw;
    background-color: $color_minor_background;

    @include mobile() {
        display: none;
    }
}

.message-dialogue {
    width: 40vw;
    color: white;
    
    .message-dialogue-content {
        min-width: 400px;
        max-height: 700px;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        background-color: $color_minor_background;
        border-radius: 0 0 15px 15px;
        margin-bottom: 5px;
        padding: 10px 0;

        .message-dialogue-date-group {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $color_comment_name_font;
            margin: 10px 0;
        }

    }

    .message-dialogue-form-create {
        width: 40vw;
    }

    @include desktop() {
        border-radius: 15px;
        margin: 15px 5px;
        width: 40vw;
    }

    @include mobile() {
        //background-color: red;
    }
}