@import '/src/UI/styles_extension/colors';
@import '/src/UI/styles_extension/variables';

.post-page-info {
    display: flex;

    .post-page-info-content {
        width: auto;
        min-width: 570px;

        @include mobile {
            width: 340px;
            min-width: auto;
        }
    }
}