@import '../../styles_extension/colors';
@import '../../styles_extension/variables';

.btn-icon{
    background-color: $color_minor_background;
    border: none;
    padding: 3px;

    svg {
        display: flex;
        align-items: center;
        path {
            fill: $color_button_background;
        }
    }

    &:hover {
        cursor: pointer;
    }



    &.btn-icon-l {

        svg {
            width: 72px;
            height: 72px;
        }
    }

    &.btn-icon-m {

        svg {
            width: 48px;
            height: 48px;
        }
        
    }

    &.btn-icon-s {

        svg {
            width: 32px;
            height: 32px;
        }
    }

    &.btn-icon-xs {

        svg {
            width: 16px;
            height: 16px;
        }
    }
}
