@import '../../styles_extension/colors';
@import '../../styles_extension/variables';

.btn-icon{
    background-color: #212121;
    border: none;

    svg {
        path {
            fill: $color_button_background;
        }
    }

    &:hover {
        cursor: pointer;
    }



    &.btn-icon-l {

        svg {
            width: 48px;
            height: 48px;
        }
    }

    &.btn-icon-m {

        svg {
            width: 32px;
            height: 32px;
        }
        
    }

    &.btn-icon-s {

        svg {
            width: 16px;
            height: 16px;
        }
    }
}
