@import '/src/UI/styles_extension/colors';
@import '/src/UI/styles_extension/variables';

.post-box {
    color: $color_post_date_font;
    margin: 10px;

    .post-toolkit {
        display: flex;
        justify-content: flex-end;
        background-color: $color_minor_background;
        border-radius: 15px 15px 0 0;
        padding: 5px 10px;

        .post-toolkit-detail {

            position: absolute;
            display: inline-block;

            &::after {  
                cursor: pointer;
                content: '\2807';
                letter-spacing: 0.2em;
                margin-right: -0.2em;
                text-align: center;
            }

            &:active .detail-drowup {
                display: block;
            }

            .detail-drowup {
                position: absolute;
                display: none;
                top: -15px;
                right: -15px;
                padding: 20px;
                margin-left: -0.2em;

                @include mobile {
                    font-size: 10pt;
                }

                &:hover {
                    display: block;
                }
                
                .drowup-element {
                    cursor: pointer;
                    padding: 10px;
                    display: block;
                    color: white;
                    border: 1px solid white;
                    border-radius: 0px;
                    background-color: $color_minor_background;
                }
            }
                
        }
    }

    .post-content {
        background-color: $color_minor_background;
        padding: 10px 40px;
        border-radius: 0 0 15px 15px;

        @include mobile {
            padding: 10px 20px;
        }

        .post-content-text {
            color: $color_button_background;
            font-size: 20pt;
            margin: 0 0 20px 0;

            @include mobile {
                font-size: 16pt;
                margin: 0 0 10px 0;
            }
        }

        .post-content-image {
            display: flex;
            justify-content: center;
            object-fit: cover;
            width: 100%;
            height: 300px;
            margin: 20px 0;

            @include mobile {
                height: 200px;
                margin: 10px 0;
            }
        }
    }

    .post-info {
        display: flex;
        flex-direction: row;
        align-items: center;

        .post-info-date {}

        .post-info-likes {
            display: flex;
            align-items: center;
            margin-left: auto;
        }

        .post-info-comments {
            display: flex;
            align-items: center;
            align-self: flex-end;
        }
    }
}