@import '../../styles_extension/_colors.scss';
@import '../../styles_extension/_variables.scss';
@import '../../styles_extension/_breakpoints.scss';

.btn {
    color: $color_button_font;
    border: 2px solid $color_button_background;
    border-radius: 15px;
    margin: 10px;
    padding: 14px 30px 14px 30px;
    transition-duration: 0.45s;
    font: {
        size: 16pt;
        weight: 600;
    };
    cursor: pointer;

    &:hover {
        color: $color_button_background;
        background-color: $color_button_font;
        border: 2px solid $color_button_background;    
    }

    @include mobile {
        background-color: red;
        font-size: 6pt;

        &:hover {
            color: red;
            background-color: blue;
            border: 2px solid $color_button_background;    
        }
    };
}


