@import '../../styles_extension/colors.scss';

$test : true;

body{
    background-color: $color_major_background;
}

.button-ui {
    color: $color_button_font;
    background-color: $color_button_background;
    border: 2px solid $color_button_background;
    border-radius: 15px;
    margin: 10px;
    padding: 14px 30px 14px 30px;
    transition-duration: 0.45s;
    font: {
        size: 16pt;
        weight: 600;
    };
    cursor: pointer;

    &:hover {
        color: $color_button_background;
        background-color: $color_button_font;
        border: 2px solid $color_button_background;    
    }
    
    
}