@import '/src/UI/styles_extension/colors';
@import '/src/UI/styles_extension/variables';

.contact-user-list {

    .contact-user-list-saved, .contact-user-list-found{
        width: 70vw;
        display: flex;
        align-items: center;
        flex-direction: column;

        .contact-user-list-saved-label, .contact-user-list-found-label{
            color: $color_button_background;
            font-size: 20pt;
            text-align: center;
            margin: 10px 0 10px 0;
        }
    }

    .contact-user-list-not-found {
        color: $color_button_background;
        font-size: 16pt;
        text-align: center;
        margin: 10px 0 10px 0;
    }
}