@import '../../../UI//styles_extension/variables';

.image-preview-box {
    position: relative;
    display: flex;
    margin: 5px 15px;

    @include mobile {
        display: flex;
        flex-direction: row;
    }

    .image-preview-content {
        width: 48px;
        height: 48px;
    }

    .image-preview-cancel {
        position: relative;
        right: 0;

        @include mobile {
            position: relative;
            display: flex;
            align-items: center;

            svg {
                width: 48px;
                height: 48px;
            }
        }
    }
}